  /* General Styling */
  html {
    font-family: 'Helvetica', Arial, 'sans-serif';
    font-size: 10px;
  }
  body {
    width: 80em;
    margin: 0 auto;
  }
  header ul {
  	position:fixed;
  	left:0px;
  	top:0px;
  	z-index:1;
  	width:100%;
    padding-top: 10px;
  }
  footer {
    font-style: italic;
    text-transform: capitalize;
    text-align: center;
  }
  /* Typography */
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 3.2em;
  }
  h3  {
    font-size: 2em;
    }
  p, li {
    font-size: 1.7em;
    }
